$electric-blue: #00CCFF;
$light-blue: #9be0ff;
$lighter-blue: #afe6ff;
$lightest-blue: #e5f7ff;

$strong-blue: #293a7a;

$electric-yellow: #fff000;
$electric-pink: #EA0788;
$electric-red: red;

$dark-gray: #333;
$medium-gray: #a1aaad;
$light-gray: #D8DCDF;
$lighter-gray: #edeff0;
$lightest-gray: f5f7f8;

$pale-cream: #fcf5e2;
$cool-grey: #f7f7fa;

$banner-color: $electric-yellow;

$text-color-bold: black;
$text-color-dark: rgb(55, 55, 55);
$text-color-subtle: #737373;
$text-color-subtler: #bbb;

$up-color: $electric-pink;
$down-color: $electric-blue;

$link-color: $electric-blue;
$link-color-hover: $light-blue;