.item {

    margin-bottom: 80px;

    .actions {
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .vote-count {
        color: $text-color-subtler;
        font-size: 18px;
        margin-right: 10px;
    }

    .caption {
        margin-top: 20px;
        color: $text-color-subtle;
        font-size: 16px;
    }
}