body {
    color: $text-color-dark;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 25px;

    background-color: black;

    >.container {
        padding: 10px 40px;
        background-color: white;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    outline: none;

    -moz-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;

    &:hover {
        color: $link-color-hover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Arial, helvetica, sans-serif;
    font-weight: bold;
    color: $text-color-bold;
}

strong {
    color: $text-color-bold;
}