files:
  "/home/ec2-user/make_logs.sh" :
    mode: "0007555"
    owner: root
    group: root
    content: |
      #!/bin/bash
      touch /var/log/api.log
      touch /var/log/frontend.log

      sudo chown uwsgi:root /var/log/api.log
      sudo chown uwsgi:root /var/log/frontend.log

commands:
  01make_logs:
    command: ./make_logs.sh
    cwd: /home/ec2-user
