<article class="product-box" data-post-id="{{ post.id }}" data-tags="{{ post.tags }}">
    <a href="{{ post.link_url }}" class="domain" target="_blank">
        <div class="inner">

            <div class="img-wrap">
                <img class="image" src="{{ post.thumbnail_url }}" title="{{ post.title }} - last minute gift idea">
            </div>


            <div class="lower-contents">

                <h6 class="title">{{ post.title }}</h6>
                <p>
                    Buy
                    {% if post.parse_domain() %}
                        on {{ post.brand or post.parse_domain() }},
                    {% endif %}
                    {{ post.format_price() }}
                </p>

                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
            </div>
        </div>
    </a>
</article>