<!-- Share links -->
<div class="social share" role="group">
    <h5 class="social-cta">Share This Page</h5>
    <div class="social-links">
        <div class="item">
          <a href="javascript:FB.ui({method: 'share',href: '{{ request.url }}'}, function(response){});"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="item">
          <a href="https://twitter.com/intent/tweet"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="item">
          <a href="https://www.pinterest.com/pin/create/button/?"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</div>
