<!-- Social links -->
<div class="social" role="group">
    <div class="item">
      <a href="https://www.facebook.com/lastmingift/" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="item">
      <a href="https://www.pinterest.com/lastmingift/" target="_blank"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="item">
      <a target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="item">
      <a><i class="fa fa-twitter"></i></a>
    </div>
</div>
