<!DOCTYPE html>
<html lang="en" style="height: 100%; position: relative; transition: right 0.25s ease-in-out; right: 0px;">
<head>
    <title>{{ title or 'Last Minute Gift Ideas' }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{ meta_description or 'Find a perfect gift from our hand-picked list from around the web. Many rush and last-minute gifts available.'}}">
    <meta name="keywords" content="Gifts, LastMinGift.com" />
    <meta name="robots" content="index,follow,noodp,noydir" />
    <meta property="og:title" content="{{ title or 'Last Minute Gift Ideas' }}" />
    <meta property="og:description" content="{{ meta_description or 'Find a perfect gift from our hand-picked list from around the web. Many rush and last-minute gifts available.'}}" />
    <meta property="og:image" content="{{ meta_image or 'http://www.lastmingift.com/assets/img/ogimage.jpg' }}" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:site_name" content="LastMinGift.com" />
    <meta property="og:type" content="blog" />
    <meta property="og:locale" content="en_US" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70130803-1', 'auto');
      ga('send', 'pageview');

    </script>
    <span style="display: none;">a40ba8873eb548e5a822fbdc1bd41404</span>
</body>
</html>