<!DOCTYPE html>
<html lang="en" style="height: 100%; position: relative; transition: right 0.25s ease-in-out; right: 0px;">
<head>
    <title>{{ title or 'Last Minute Gift Ideas' }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{ meta_description or 'Find a perfect gift from our hand-picked list from around the web. Many rush and last-minute gifts available.'}}">
    <meta name="keywords" content="Gifts, LastMinGift.com" />
    <meta name="robots" content="index,follow,noodp,noydir" />
    <meta property="og:site_name" content="LastMinGift.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>