{% extends "main.html" %}

{% block container %}


    {% if category.banner_url %}
        <figure class="featured-category">
            <div class="featured-category-image" style="background: url({{ category.banner_url }}) 50% 0 / cover no-repeat;"></div>
        </figure>
    {% else %}
        <figure class="featured-category">
            <div class="featured-category-image">
                <div class="inner-wrap">
                    {% for post in posts * 3 %}
                        <a href="{{post.link_url}}">
                            <img src="{{post.thumbnail_url}}" title="{{post.title}}" >
                        </a>
                    {% endfor %}
                </div>
            </div>
        </figure>
    {% endif %}



<div class="container fluid gallery">

    <h1>{{ h1 or 'Discover great gifts' }}</h1>
    {% if category.caption %}
        <h4 class="caption">{{ category.caption }}</h4>
    {% endif %}

    {% include "_share.html" %}

    {% if category.body %}
        <p class="body">{{ category.body }}</p>
    {% endif %}

    <hr>

    <div class="product-grid">
        {% for post in posts %}
            {% include "_product.html" %}
        {% endfor %}
    </div>

    {% include "_share.html" %}

    <hr>

    <h2>More Gift Ideas</h2>
    <h6>Not finding anything here? <a href="/">Go back home</a></h6>
    <br>
    <br>
    <br>
    <div class="product-grid">
        {% for post in featured_posts %}
            {% include "_product.html" %}
        {% endfor %}
    </div>

</div>
{% endblock %}