{% extends "main.html" %}

{% block container %}
<figure class="featured-category">
    <div class="featured-category-image" style="background: url(http://i.imgur.com/gv5QxX4.jpg) 50% 0 / cover no-repeat;"></div>
    <figcaption>
        <h1>Discover Great Last Minute Gift Ideas</h1>
        <p>Even the most well organized people end up needing a gift delivery on short notice.
            Whether your budget is $5 or $500, we've hand-picked the best gifts out there so you
            don't have to.</p>
        <a class="btn" href="/gifts/rush">Shop Super Last-Minute Gifts</a>
    </figcaption>
</figure>
<section class="container fluid">
    {% include "_share.html" %}
    <div class="category-row">
        <div class="category-box">
            <a href="/gifts/gifts-for-him">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/FfeDz6c.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For the Guys</h3>
                        <p>Shop gifts for guys</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="category-box">
            <a href="/gifts/home">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/jawVEpF.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For the Home</h3>
                        <p>Shop housewares, dining, lighting, and decor</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="category-row">
        <div class="category-box full-bleed">
            <a href="/gifts/her">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/Ymn2Zge.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For Her</h3>
                        <p>Shop gifts she'll never forget</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="category-row">
        <div class="category-box">
            <a href="/gifts/kids">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/Eg54rDU.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For the Kids</h3>
                        <p>Shop toys, games, clothes, and treats</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="category-box">
            <a href="/gifts/alcohol">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/z0NS6xW.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For the Alcohol Enthusiast</h3>
                        <p>Shop glassware, wine, whiskey, and accessories</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="category-row">
        <div class="category-box full-bleed">
            <a href="/gifts/coffee">
                <figure class="category animated">
                    <div class="category-image" style="background: url(http://i.imgur.com/U1TqwtD.jpg) 50% 0 / cover no-repeat;"></div>
                    <figcaption class="category-caption">
                        <h3>For Coffee and Tea Lovers</h3>
                        <p>Shop coffee and tea gifts</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <hr>
    {% include "_share.html" %}
    <div class="related">
        <h4>Discover more gifts:</h4>
        <p>
        {% for tag in all_tags %}
            <a class="hashtag" href="/gifts/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        </p>
    </div>
</section>

{% endblock %}