{% extends "main.html" %}

{% block container %}
<figure class="featured-category">
    <div class="featured-category-image" style="background: url(http://i.imgur.com/gv5QxX4.jpg) 50% 0 / cover no-repeat;"></div>
    <figcaption>
        <h1>Discover Great Last Minute Gift Ideas</h1>
        <p>Even the most well organized people end up needing a gift delivery on short notice.
            Whether your budget is $5 or $500, we've hand-picked the best gifts out there so you
            don't have to.</p>
        <a class="btn" href="/gifts/rush">Shop Super Last-Minute Gifts</a>
    </figcaption>
</figure>
<section class="container fluid">

    {% for category in categories %}
        <div class="curation-group">
            <a href="/gifts/{{ category.slug }}">
                <h3 class="curation-title">{{ category.title }}</h3>
                <p>{{category.caption}}</p>
                <p><img src="{{category.thumbnail_url}}"></p>
            </a>
        </div>
    {% endfor %}
    <div class="related">
        <h4>Discover more gifts:</h4>
        <p>
        {% for tag in all_tags %}
            <a class="hashtag" href="/gifts/{{ tag }}">{{ tag }}</a>
        {% endfor %}
        </p>
    </div>
</section>

{% endblock %}