{% extends "base.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}?cb=1" xmlns="http://www.w3.org/1999/html">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

    <!-- Require always be loaded first; make sure that's synchronous -->
    <script type=text/javascript src="{{ url_for('static', filename='js/require.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}?cb=1" async></script>

{% endblock %}

{% block body %}
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
        <header>
            <a class="logo navbar-brand" href="/">Last-Minute Gift Guide</a>
            <h6 class="logo-caption">Find a gift they'll never forget</h6>
        </header>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li><a href="/gifts/christmas">Christmas</a></li>
            <li><a href="/gifts/rush">Rush</a></li>
            <li><a href="/gifts/her">For Her</a></li>
            <li><a href="/gifts/him">For Him</a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{% block container %}{% endblock %}

<footer class="footer">
  <div class="container">
  </div>
</footer>
<!-- Pinterest Button -->
<script async defer data-pin-hover="true" data-pin-color="white" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}