{% extends "base.html" %}

{% block head %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}" xmlns="http://www.w3.org/1999/html">


    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}" async></script>

{% endblock %}

{% block body %}
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <header><a class="logo navbar-brand" href="/">Last-Minute Gift Guide</a></header>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li><a href="/gifts/christmas">Christmas</a></li>
            <li><a href="/gifts/rush">Rush</a></li>
            <li><a href="#">For Her</a></li>
            <li><a href="#">For Him</a></li>
            <li><a href="#">More Categories</a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container fluid">
    {% block container %}{% endblock %}
</div>
<footer class="footer">
  <div class="container">
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul>
  </div>
</footer>
{% endblock %}