{% extends "base.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}?cb=4" xmlns="http://www.w3.org/1999/html">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

    <!-- Require always be loaded first; make sure that's synchronous -->
    <script type=text/javascript src="{{ url_for('static', filename='js/require.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}?cb=4" async></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}
<nav class="navbar">
  <div class="container">
      <div class="navbar-header">
          <header>
              <a class="logo navbar-brand" href="/">Last-Minute Gift Guide</a>
              <div class="logo-caption">
                  <h6>Find a gift they'll never forget</h6>
              </div>
          </header>
      </div>
  </div>
</nav>

{% block container %}{% endblock %}

<footer class="footer">
  <div class="container">
  </div>
</footer>
<!-- Pinterest Button -->
<script async defer data-pin-hover="true" data-pin-color="white" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '500734303430940',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}