{% extends "main.html" %}

{% block container %}
    <div class="product-view">
        <h1 class="title"><a href="{{ post.link_url }}">{{ post.title }}</a></h1>
        <a class="btn price" href="{{ post.link_url }}">{{ 'Buy {}'.format(post.format_price()) }}</a>
        {% if post.parse_domain() %}
        on <a href="{{ post.link_url }}" class="domain">{{ post.parse_domain() }}</a>
        {% endif %}
        <a href="{{ post.link_url }}">
            <img src="{{ post.thumbnail_url }}" title="{{ post.title }} - last minute gift idea"/>
        </a>
        <p>{{ post.description }}</p>
        <a class="btn price" href="{{ post.link_url }}">{{ 'Buy {}'.format(post.format_price()) }}</a>
        {% if post.parse_domain() %}
            on <a href="{{ post.link_url }}" class="domain">{{ post.parse_domain() }}</a>
        {% endif %}

        <br>
        <br>

        {% if related_posts %}
        <div class="related curation-group">
            <h4 class="curation-title">More gifts in "{{ related_tag.title() }}"</h4>
            <a class="link-to-more" href="/gifts/{{ related_tag }}">see all</a>
            <p>
                <div class="product-grid">
                {% for post in related_posts %}
                    {% include "_product.html" %}
                {% endfor %}
                </div>
            </p>
        </div>
        {% else %}
        <div data-related-message="No related posts"></div>
        {% endif %}
    </div>

{% endblock %}