{% extends "main.html" %}

{% block container %}
<style>

    .jumbo-text {
        font-size: 3.5em;
    }

</style>

<div class="page-header">
    <h2 class="jumbo-text">Typography</h2>
</div>
<section class="text">
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H2 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
    <p>This is a paragraph.</p>
    <p>This is a much longer paragraph. Toffee lollipop sweet roll chocolate cake lollipop
        brownie icing. Tootsie roll toffee donut lemon drops gummies apple pie brownie macaroon.
        Sweet toffee tootsie roll pastry cupcake biscuit icing chocolate.
        Pie cotton candy apple pie gummies <a href="#">cake and cookies</a> muffin cake. Cookie
        candy fruitcake dessert sugar plum. Tart donut donut
        candy biscuit chupa chups. Cake cake macaroon.</p>
    <p><strong>This paragraph starts out strong. </strong>Toffee lollipop sweet roll chocolate
        brownie icing. Tootsie roll toffee donut lemon drops gummies apple pie brownie macaroon.
        Sweet toffee tootsie roll pastry cupcake biscuit icing chocolate.</p>

    <h4>Unordered List</h4>
    <ul>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ul>

    <h4>Ordered List</h4>
    <ol>
        <li>item one</li>
        <li>item two</li>
        <li>item three</li>
    </ol>
</section>

<div class="page-header">
    <h2 class="jumbo-text">Components</h2>
</div>
<section class="components">
    <div class="banner">
        This is a banner <a href="#">with a link.</a>
    </div>
    <div class="banner black">
        This is a banner <a href="#">with a link.</a>
    </div>
    <div class="banner blue">
        This is a banner <a href="#">with a link.</a>
    </div>
    <div class="banner pink">
        This is a banner <a href="#">with a link.</a>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Full Card Example</div>
        <p class="card-body">Cards can be used for ads, etc. This is a full card.</p>
    </div>
    <div class="card" style="width: 50%">
        <div class="card-header">Half Card Example</div>
        <p class="card-body">Cards can be used for ads, etc. This is a half card.</p>
    </div>
    <p><span class="hashtag">plaintext hashtag</span><a class="hashtag" href="#">anchor hashtag</a></p>
</section>

<div class="page-header">
    <h2 class="jumbo-text">Buttons</h2>
</div>
<section class="buttons">
    <button>Regular</button>
    <button class="vote up">Upvote</button>
    <button class="vote down">Downvote</button>
</section>

<br>
<br>
{% endblock %}