
button, input[type="submit"], a.btn {

    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    outline: none;

    border: 1px solid $link-color;
    background-color: white;
    color: $link-color;

    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: $link-color;
        color: white;
    }

}


