
button, input[type="submit"], a.btn {

    @extend .btn;

    text-transform: uppercase;
    border-radius: 0;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 37px;
    outline: none;

    margin: 37px auto 72px;
    padding: 0.5rem 2rem;
    position: static;
    background-color: #000;
    color: #fff;



    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: $link-color;
        color: white;
    }

}


