
.category-row {

    @extend .row;
    margin-top: 30px;
}

.category-box {
    @extend .col-md-6;
    @extend .col-sm-12;

    &.full-bleed {
        @extend .col-lg-12;
        @extend .col-md-12;
        @extend .col-sm-12;
    }
}

.category {

    h1, h2, h3, h4, h5, h6, p, span {
        color: white;
        text-align: center;
    }

    background: #333;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-height: 300px;

    @media (min-width: 990px) {
        min-height: 400px;
    }

    .category-image {
        opacity: 0.8;
        width: 100%;
        min-height: 100%;
        position: absolute;

        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    &.animated:hover {
        .category-image {
            opacity: 0.4;
            -moz-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;

            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .category-caption {
        z-index: 20;
        position: relative;
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        left: 0;
        max-width: 800px;
        padding-left: 5%;
        padding-right: 5%;
    }

}






.featured-category {

    @extend .category;

    width: 100%;
    margin: 0;
    background: #000;

    h1, h2, h3, h4, h5, h6, p, span {
        color: white;
        text-align: left;
    }

    .featured-category-image {
        @extend .category-image;
        opacity: 0.6;

    }

    figcaption {
        @extend .category-caption;
    }
}