
.curation-group {

    margin-top: 30px;
    marin-bottom: 40px;

    .curation-title {
        @extend h3;
        font-size: 1.6em;
        display: inline;
    }

    .link-to-more {
        margin-left: 8px;
    }
}